@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/CenturyGothic/CenturyGothic.eot');
	src: local('Century Gothic'), local('CenturyGothic'),
		url('fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
		url('fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('fonts/CenturyGothic/CenturyGothic-Bold.eot');
	src: local('Century Gothic Bold'), local('CenturyGothic-Bold'),
		url('fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
		url('fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* @font-face {
    font-family: 'Ubuntu';
    src: url('fonts/Ubuntu/Ubuntu-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
} */



:root {
    --color-main: rgb(255, 170, 57); 
    --color-second: rgb(0, 49, 63);
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

body {
    font-family: "Century Gothic";
    font-weight: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(22, 12, 2);
    color: #fff;
}

.container {
    width: 100%;
    padding: 0 10px;
}

img {
    height: 100%;
    width: 100%;
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.visibility-hidden {
    visibility: hidden;
}



/* Скролл */
::-webkit-scrollbar {
	width:6px;
	height:6px;
	max-width:6px;
	max-height:6px;
	background-color:rgb(22, 12, 2);
}

::-webkit-scrollbar-thumb {
	border-radius:6px;
	max-width:6px;
	max-height:6px;
	height:6px;
	background-color: var(--color-main);
}

::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.2);
	border-radius:5px;
	max-width:6px;
	max-height:6px;
	height:6px;
	background-color:rgb(22, 12, 2);
}



/* Header */
.header {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    transition: all 0.4s;
}

.header_show {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    background-color: rgb(22, 12, 2);
}

.header__promo {
    top: 0;
    position: absolute;
}

.header__logo {
    height: 45px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: .4s;
}


/* Блок с городами */
.city {
    /* height: 100%; */
    display: flex;
    align-items: center;
    gap: 2px;
}

.city__img {
    height: 15px;
}

.city__img img {
    vertical-align: top;
}

.city__name {
    color: var(--color-main);
    font-size: 12px;
}

.city__side-menu {
    height: auto;
    justify-content: end;
}


/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 4;
    transition: all .3s;
    visibility: hidden;
}

.overlay_show {
    opacity: .8;
    visibility: visible;
}



/* Крестик */
.close {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: var(--color-main);
}



/* Боковая панель */
.hamburger {
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 1.5px;
    background-color: var(--color-main);
    border-radius: 10px;
    transition: all .3s;
}

.side-menu {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 5;
    animation-duration: .5s;
}

.side-menu__wrap {
    background-color: var(--color-second);
    position: absolute;
    height: 97%;
    width: 97%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
}

.side-menu__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 50px;
}

.side-menu__logo {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

.side-menu__logo img {
    object-fit: contain;
}

.side-menu__header-bottom {
    display: flex;
    justify-content: space-between;
}

.side-menu__phone {
    font-size: 14px;
    color: var(--color-main);
}

.nav li{
    font-size: 28px;
    margin: 10px 0;
}



/* City-popup */
.city-popup {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    background-color: var(--color-second);
    padding: 15px;
    width: 97%;
    border-radius: 15px;
    z-index: 10;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.city-popup__title {
    color: var(--color-main);
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.city-popup__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.city-popup_show {
    opacity: 1;
    visibility: visible;
}



/* Фиксированная кнопка снизу */
.btn-fixed {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    width: 100%;
    animation-duration: .3s;
}



/* Кнопки */
.btn {
    width: 250px;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    border: 3px solid var(--color-main);
    color: var(--color-main);
    z-index: 1;
}

.btn__side-menu {
    font-size: 14px;
    width: 170px;
    padding: 10px 0;
    border: 1px solid var(--color-main);
    margin: 0;
}

.btn__fixed {
    width: 90%;
    /* left: 50%;
    transform: translateX(-50%); */
    background-color: var(--color-second);
    color: #fff;
    border: none;
    padding: 15px 0;
    margin: 0 auto 20px auto;
    font-size: 22px;
}



/* Section promo */
.promo {
    position: relative;
    background-color: rgb(22, 12, 2);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 60px;
}

.promo::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-image: url(img/giphy_1.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

.promo__logo {
    height: 25vh;
}

.promo__logo img {
    object-fit: contain;
}

.promo__content {
    z-index: 1;
    text-align: center;

}

h1 {
    color: var(--color-main);
    font-size: 44px;
    margin: 0;
}

.promo__descr {
    color: #fff;
}

.promo__descr span {
    color: var(--color-main);
    font-weight: bold;
}



/* Заголовки */
.title {
    text-transform: uppercase;
    color: var(--color-main);
}



/* Section current */
.current {
    padding: 80px 0;
    background-color: #0f0801;
}

.current__img {
    height: 200px;
    padding: 0 10px;
    position: relative;
}

.current__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3)
}

.current__img img {
    object-fit: cover;
    object-position: 50% 25%;
}



/* Section menu */
.menu__item {
    display: block;
    position: relative;
}

.menu__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3)
}

.menu__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}
